@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes carousel {
  0% {
    translate: 0 0;
  }
  100% {
    translate: -100vw 0;
  }
}

@keyframes carouselClose {
  0% {
    translate: 0 0;
  }
  50% {
    translate: -100vw 0;
  }
  100% {
    translate: 0 0;
  }
}
