/* Базовая информация */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  position: fixed;
  width: 100%;
  padding: 5vw 2vw;
  top: -100vh;
  transition: 1.5s ease-in-out;
  height: 100vh;
  background-color: white;
}

nav p {
  width: fit-content;
  height: 1.5vw;
  position: relative;
  cursor: pointer;
}

nav p::after {
  display: block;
  margin-top: 0.2vw;
  width: 0%;
  height: 0.2vw;
  content: '';
  background-color: black;
  transition: 0.5s ease-in-out;
}

nav p.active::after {
  width: 100%;
  transition: 0.5s ease-in-out;
}

nav.active {
  top: 0;
  transition: 1.5s ease-in-out;
}

header {
  width: 100%;
  padding: 2vw;
  position: fixed;
}

.logo {
  display: flex;
  align-items: center;
  height: 2vw;
  gap: 0vw;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.logo.active {
  gap: 0.3vw;
  transition: 0.5s ease-in;
}

.logo img {
  width: 4vw;
  height: auto;
}

#logoArrow {
  display: flex;
  align-items: center;
  height: 80%;
  gap: 0.5vw;
  transition: 0.5s ease-in;
}

#logoArrow.active {
  transition: 0.5s ease-in;
}

#logoArrow p,
nav p {
  font-size: 2.3vw;
  font-family: 'NAMU';
  font-weight: 500;
}

#logoArrow p {
  height: 187%;
}

#logoArrow img {
  width: 0.5vw;
  transition: 0.5s ease-in;
}

#logoArrow img.active {
  rotate: 90deg;
  transition: 0.5s ease-in;
}
