/* Базовая информация */

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html {
  scroll-behavior: smooth;
  font-family: 'NAMU';
  font-weight: 500;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

/* Цвета */

/* Светлая тема */

@media (prefers-color-scheme: light) {
  :root {
    --bg: #fff;
    --text: #000;
    --bg-transparent: #ffffff6d;
    --text-transparent: #0000006d;
  }
}

/* Темная тема */

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #000;
    --text: #fff;
    --bg-transparent: #0000006d;
    --text-transparent: #ffffff6d;
  }
}

body {
  background-color: var(--bg);
}

/* Стандартные цвета */

:root {
  --black: #000;
  --white: #fff;
  --transparent-black: #0000006d;
  --transparent-white: #ffffff6d;
}

/* Линии */

:root {
  --1: #ef161e;
  --2: #2dbe2c;
  --3: #0078be;
  --4: #00bfff;
  --5: #8d5b2d;
  --6: #ed9121;
  --7: #800080;
  --8: #ffd702;
  --9: #999999;
  --10: #99cc00;
  --11: #82c0c0;
  --12: #a1b3d4;
  --15: #de64a1;
  --16: #03795f;
  --17: #27303f;
}

/* Типографика */

h1,
h2,
h3,
h4,
p {
  color: var(--text);
}

h1 {
  font-size: 7.5vw;
}

h2 {
  font-size: 7vw;
}

h3 {
  font-size: 5vw;
}

h4 {
  font-size: 3vw;
}

p {
  font-size: 4.5vw;
}

a {
  font-size: 6vw;
  text-decoration: underline;
  margin: 3vw 0; 
}

/* Бургер-меню */

/* Хэдер */

header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 22.5vw;
  padding: 8vw 4vw;
  gap: 1.5vw;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  transition-delay: 0.9s;
  z-index: 1;
  background-color: var(--bg);
  outline: 0.1vw solid var(--text);
}

/* Внутри хэдэра помещается группа с логотипом из двух букв м, 
чтобы их можно было разводить при ховере */

.logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  gap: 0.2vw;
  transition: 0.3s ease-in;
}

.logoPart {
  font-size: 3vw;
  color: var(--text);
}

#rotated {
  rotate: 180deg;
}

header h1 {
  position: relative;
  top: -1.2vw;
  cursor: pointer;
  color: var(--text);
}

.arrow {
  width: 1.5vw;
  height: auto;
  transition: 0.3s ease-in;
}

/* Меню */

nav {
  position: fixed;
  top: 22.5vw;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.col {
  display: flex;
  flex-direction: column;
}

#menuCol {
  width: 50%;
  height: 100%;
}

.row {
  display: flex;
  height: auto;
}

#menuRow {
  height: calc(100vh - 22.5vw);
}

/* Кнопки */

button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2vw;
  gap: 1vw;
  border: none;
  outline: 0.1vw solid var(--text);
  box-shadow: inset 0 0 0 0.1vw var(--text);
  background-color: var(--bg);
  color: var(--text);
  cursor: pointer;
  font-family: 'NAMU';
  font-weight: 500;
  text-align: left;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

#history {
  height: 60%;
  transition-delay: 0.75s;
}

#quiz {
  height: 20%;
  transition-delay: 0.6s;
}

#about {
  height: 20%;
  transition-delay: 0.45s;
}

#store {
  height: 50%;
  transition-delay: 0.3s;
}

#collection {
  height: 50%;
  transition-delay: 0.15s;
}

/* Переходы */

header.active {
  background-color: var(--bg);
  border: none;
  outline: 0.1vw solid var(--text);
  box-shadow: inset 0 0 0 0.1vw var(--text);
  transition: 0.2s ease-in-out;
}

#history.active,
#quiz.active,
#about.active,
#store.active,
#collection.active {
  opacity: 1;
  transition: 0.2s ease-in-out;
  pointer-events: auto;
}

#history.active {
  transition-delay: 0.2s;
}

#quiz.active {
  transition-delay: 0.4s;
}

#about.active {
  transition-delay: 0.6s;
}

#store.active {
  transition-delay: 0.8s;
}

#collection.active {
  transition-delay: 1s;
}

/* Музей */

#mus {
  position: relative;
  top: 28.5vw;
  width: 100%;
  height: auto;
  gap: 6vw;
}

#musDesc {
  padding: 0 4vw;
  width: 100%;
}

.lines {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.ln {
  width: 33.3%;
  aspect-ratio: 1;
  border-radius: 100%;
  pointer-events: auto;
  display: auto;
}

.ch {
  display: none;
  flex-direction: column;
  gap: 6vw;
  padding-bottom: 2vw;
  width: 100%;
  height: auto;
  color: var(--white);
}

.ch h2 {
  color: var(--white);
}

#chInfo {
  padding: 4vw;
  gap: 2vw;
}

#chNum {
  gap: 1vw;
}

#chYear {
  gap: 3vw;
}

#chNum,
#chYear h3 {
  line-height: 140%;
}

#chImg {
  overflow: hidden;
  white-space: nowrap;
}

.ch img {
  display: inline-block;
  border-radius: 100%;
  width: 33.3vw;
  height: calc(33.3vw - 0);
  aspect-ratio: 1;
  background-color: #000;
  animation: carousel 3s linear infinite;
}

.wasteCh {
  aspect-ratio: 1;
  border-radius: 100%;
  background-color: var(--white);
  margin-right: 1vw;
}

#m1,
#yearLn1,
#r1 {
  background-color: var(--1);
  display: flex;
}

#m2,
#yearLn2,
#r2 {
  background-color: var(--2);
}

#m3,
#yearLn3,
#r3 {
  background-color: var(--3);
}

#m4,
#yearLn4,
#r4 {
  background-color: var(--4);
}

#m5,
#yearLn5,
#r5 {
  background-color: var(--5);
}

#m6,
#yearLn6,
#r6 {
  background-color: var(--6);
}

#m7,
#yearLn7,
#r7 {
  background-color: var(--7);
}

#m8,
#yearLn8,
#r8 {
  background-color: var(--8);
  color: var(--black);
}

#r8 h2 {
  color: var(--black);
}

#r8 .wasteCh {
  background-color: var(--black);
}

#m9,
#yearLn9,
#r9 {
  background-color: var(--9);
}

#m10,
#yearLn10,
#r10 {
  background-color: var(--10);
}

#m11,
#yearLn11,
#r11 {
  background-color: var(--11);
}

#m12,
#yearLn12,
#r12 {
  background-color: var(--12);
}

#m15,
#yearLn15,
#r15 {
  background-color: var(--15);
}

#m16,
#yearLn16,
#r16 {
  background-color: var(--16);
}

#m17,
#yearLn17,
#r17 {
  background-color: var(--17);
}

/* История линии */

.standart {
  position: relative;
  display: none;
  flex-direction: column;
  top: 22.5vw;
  pointer-events: none;
  /* opacity: 0; */
}

#c1n2 {
  display: flex;
}

#n1 {
  display: flex;
}

.slide {
  position: fixed;
  display: flex;
  height: auto;
  gap: 2vw;
  background-color: var(--bg);
  /* overflow-x: auto; */
}

.slide img {
  width: 70vw;
  height: 70vw;
  background-color: var(--11);
  flex-shrink: 0;
}

.sliderImg1 {
  margin: 0;
  transition: margin 0.5s ease-in-out;
}

.sliderManager {
  position: fixed;
  display: flex;
  width: 100%;
  height: 70vw;
  align-items: center;
  justify-content: space-between;
  padding: 0 2vw;
  top: 22.5vw;
  pointer-events: none;
}

.slideArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14vw;
  height: 14vw;
  background-color: var(--bg);
  border: solid 0.1vw var(--transparent-black);
  border-radius: 100%;
  font-size: 4vw;
  color: var(--text);
  transition: opacity 0.5s ease-in-out;
  pointer-events: all;
}

#leftArrow {
  opacity: 0;
}
  
.timeline {
  display: flex;
  position: fixed;
  width: 100%;
  height: 28vw;
  background-color: var(--bg);
  bottom: 0vw;
  outline: 0.1vw solid var(--text);
}

.timeline button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bg);
  background-color: var(--text);
  width: 20%;
  height: 100%;
  opacity: 1;
  font-size: 4vw;
}

.timeDesc {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding: 73vw 3vw 34vw 2vw;
}

#td2 {
  display: none;
}

.timeDesc p {
  width: 80%;
  line-height: 120%;
  letter-spacing: 0.1vw;
}

.timeZone {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: var(--bg);
  width: 60%;
  overflow-x: auto;
}

.timeZone h2{
  position: fixed;
  margin-bottom: 18vw;
  margin-left: 2vw;
}

.timeTitle {
  color: var(--text-transparent);
}

.years {
  display: flex;
  gap: 1vw;
  height: 50%;
  flex-wrap: nowrap;
  transition: margin 0.5s ease-in-out;
}

.divider {
  display: flex;
  width: 0.5vw;
  height: 100%;
  background-color: var(--text);
  flex-shrink: 0;
}

.year {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  width: 20vw;
  height: 10vw;
  flex-shrink: 0;
}

.wasteYear {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 20vw;
  height: 10vw;
  flex-shrink: 0;
}

.wasteYear h3{
  margin-bottom: -3.1vw;
}

.yearNum {
  display: flex;
  gap: 1vw;
}

.yearLn {
  width: 6vw;
  height: 6vw;
  background-color: var(--1);
  border-radius: 100%;
}

.full {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  z-index: 2;
}

.a1{
  color: var(--1);
}
.a2{
  color: var(--2);
}
.a3{
  color: var(--3);
}
.a4{
  color: var(--4);
}
.a5{
  color: var(--5);
}
.a6{
  color: var(--6);
}
.a7{
  color: var(--7);
}
.a8 {
  color: var(--8);
}
.a9{
  color: var(--9);
}
.a10{
  color: var(--10);
}
.a11{
  color: var(--11);
}
.a12{
  color: var(--12);
}
.a15{
  color: var(--15);
}
.a16{
  color: var(--16);
}
.a17{
  color: var(--text);
}

.station {
  display: none;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 4vw;
}

#n1 {
  display: flex;
}

.dark {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--transparent-black);
  z-index: 3;
}

.station h2,
.station h3,
.station p {
  color: var(--white);
  z-index: 4;
}

.stName {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

.stLine {
  display: flex;
  gap: 1vw;
}

.stCircle {
  display: block;
  aspect-ratio: 1;
  height: 100%;
  border-radius: 100%;
}

a {
  pointer-events: all;
}




