#st001 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Bulvar_Rokossovskogo_SL_2025.jpg/960px-Bulvar_Rokossovskogo_SL_2025.jpg');
}
#st002 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/MosMetro_Cherkizovskaya_platform_01-2016.jpg/960px-MosMetro_Cherkizovskaya_platform_01-2016.jpg');
}
#st003 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Preobrazhenskaya_Ploschad_%28%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%9F%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D1%8C%29_%285244513514%29.jpg/960px-Preobrazhenskaya_Ploschad_%28%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%9F%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D1%8C%29_%285244513514%29.jpg');
}
#st004 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Metro_MSK_Line1_Sokolniki.jpg/960px-Metro_MSK_Line1_Sokolniki.jpg');
}
#st005 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Metro_MSK_Line1_Krasnoselskaya_%28img2%29.jpg/960px-Metro_MSK_Line1_Krasnoselskaya_%28img2%29.jpg');
}
#st006 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/%D0%9A%D0%BE%D0%BC%D1%81%D0%BE%D0%BC%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F-%D1%80%D0%B0%D0%B4%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_13.jpg/960px-%D0%9A%D0%BE%D0%BC%D1%81%D0%BE%D0%BC%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F-%D1%80%D0%B0%D0%B4%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_13.jpg');
}
#st007 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Metro_Krasnye_Vorota.jpg/960px-Metro_Krasnye_Vorota.jpg');
}
#st008 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/MosMetro_Chistye_Prudy_asv2018-01.jpg/960px-MosMetro_Chistye_Prudy_asv2018-01.jpg');
}
#st009 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/MoscowMetro_Lubyanka_5871.jpg/960px-MoscowMetro_Lubyanka_5871.jpg');
}



#st010 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fd/MosMetro_Okhotny_Ryad_img1_asv2018-01.jpg/960px-MosMetro_Okhotny_Ryad_img1_asv2018-01.jpg');
}
#st011 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Bib-Lenina-mm.jpg/960px-Bib-Lenina-mm.jpg');
}
#st012 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Metro_MSK_Line1_Kropotkinskaya.jpg/960px-Metro_MSK_Line1_Kropotkinskaya.jpg');
}
#st013 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/MoscowMetro_ParkKulturyRadialnaya_HB2.jpg/960px-MoscowMetro_ParkKulturyRadialnaya_HB2.jpg');
}
#st014 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e2/MosMetro_Frunzenskaya_01-2017.jpg/960px-MosMetro_Frunzenskaya_01-2017.jpg');
}
#st015 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3e/Metro_MSK_Line1_Sportivnaya_%28img1%29.jpg/960px-Metro_MSK_Line1_Sportivnaya_%28img1%29.jpg');
}
#st016 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/43/Vorobyovy_Gory_subway_station_%28Moscow_Metro%29.jpg/960px-Vorobyovy_Gory_subway_station_%28Moscow_Metro%29.jpg');
}
#st017 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Metro_MSK_Line1_Universitet.jpg/960px-Metro_MSK_Line1_Universitet.jpg');
}
#st018 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Prospekt_vernadskogo3.jpg/960px-Prospekt_vernadskogo3.jpg');
}
#st019 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Ugo-zapadnaya3.jpg/960px-Ugo-zapadnaya3.jpg');
}



#st020 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Metro_MSK_Line2_Krasnogvardeyskaya.jpg/960px-Metro_MSK_Line2_Krasnogvardeyskaya.jpg');
}
#st021 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/94/MosMetro_Domodedovskaya_platform_01-2016.jpg/960px-MosMetro_Domodedovskaya_platform_01-2016.jpg');
}
#st022 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Orekhovo_2023-12_1703259472.jpg/960px-Orekhovo_2023-12_1703259472.jpg');
}
#st023 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/MosMetro_Tsaritsino_platform_01-2016.jpg/960px-MosMetro_Tsaritsino_platform_01-2016.jpg');
}
#st024 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Kantemirovskaya-mm.jpg/960px-Kantemirovskaya-mm.jpg');
}
#st025 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Kashirskaya_station%2C_both_halls%2C_March_2023.jpg/960px-Kashirskaya_station%2C_both_halls%2C_March_2023.jpg');
}
#st026 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Kolomenskaya_metro_station_in_Moscow_%2822.05.2023%29.jpg/960px-Kolomenskaya_metro_station_in_Moscow_%2822.05.2023%29.jpg');
}
#st027 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4b/MosMetro_Avtozavodskaya_01-2017.jpg/960px-MosMetro_Avtozavodskaya_01-2017.jpg');
}
#st028 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a7/Metro_MSK_Line2_Paveletskaya.jpg/960px-Metro_MSK_Line2_Paveletskaya.jpg');
}
#st029 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Metro_MSK_Line2_Novokuznetskaya.jpg/960px-Metro_MSK_Line2_Novokuznetskaya.jpg');
}



#st030 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/MosMetro_Teatralnaya_img3_asv2018-01.jpg/960px-MosMetro_Teatralnaya_img3_asv2018-01.jpg');
}
#st031 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/MosMetro_Tverskaya_img2_asv2018-01.jpg/960px-MosMetro_Tverskaya_img2_asv2018-01.jpg');
}
#st032 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/64/%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5_%D0%BC%D0%B5%D1%82%D1%80%D0%BE._%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%9C%D0%B0%D1%8F%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F.jpg/960px-%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5_%D0%BC%D0%B5%D1%82%D1%80%D0%BE._%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%9C%D0%B0%D1%8F%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F.jpg');
}
#st033 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/MosMetro_BelorusskayaZL_img3_asv2018-01.jpg/960px-MosMetro_BelorusskayaZL_img3_asv2018-01.jpg');
}
#st034 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/34/Metro_MSK_Line2_Dinamo_Central_Hall.jpg/960px-Metro_MSK_Line2_Dinamo_Central_Hall.jpg');
}
#st035 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MosMetro_Aeroport_platform_01-2016.jpg/960px-MosMetro_Aeroport_platform_01-2016.jpg');
}
#st036 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/Moscow_SokolMetroStation_1193.jpg/960px-Moscow_SokolMetroStation_1193.jpg');
}
#st037 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Moscow_VoykovskayaMetroStation_1152.jpg/960px-Moscow_VoykovskayaMetroStation_1152.jpg');
}
#st038 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/0f/Moscow_VodnyStadiontMetroStation_1123.jpg/960px-Moscow_VodnyStadiontMetroStation_1123.jpg');
}
#st039 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Moscow_RechnoyVokzaltMetroStation_1091.jpg/960px-Moscow_RechnoyVokzaltMetroStation_1091.jpg');
}



#st040 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Shchelkovskaya-mm.jpg/960px-Shchelkovskaya-mm.jpg');
}
#st041 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Pervomaiskaya-mm.jpg/960px-Pervomaiskaya-mm.jpg');
}
#st042 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Aquarel_%28Watercolor%29_train_at_Izmaylovskaya_station_%28%D0%9C%D0%B5%D1%82%D1%80%D0%BE%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4_%D0%90%D0%BA%D0%B2%D0%B0%D1%80%D0%B5%D0%BB%D1%8C_%D0%BD%D0%B0_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8_%D0%98%D0%B7%D0%BC%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%29_%283731223275%29.jpg/960px-Aquarel_%28Watercolor%29_train_at_Izmaylovskaya_station_%28%D0%9C%D0%B5%D1%82%D1%80%D0%BE%D0%BF%D0%BE%D0%B5%D0%B7%D0%B4_%D0%90%D0%BA%D0%B2%D0%B0%D1%80%D0%B5%D0%BB%D1%8C_%D0%BD%D0%B0_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8_%D0%98%D0%B7%D0%BC%D0%B0%D0%B9%D0%BB%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%29_%283731223275%29.jpg');
}
#st043 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/Partizanskaya-mm.jpg/960px-Partizanskaya-mm.jpg');
}
#st044 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2b/%D0%A1%D0%B5%D0%BC%D0%B5%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_11.jpg/960px-%D0%A1%D0%B5%D0%BC%D0%B5%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_11.jpg');
}
#st045 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Moscow_Elektrozavodskaya_metro_station_asv2018-09.jpg/960px-Moscow_Elektrozavodskaya_metro_station_asv2018-09.jpg');
}
#st046 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Metro_MSK_Line3_Baumanskaya.jpg/960px-Metro_MSK_Line3_Baumanskaya.jpg');
}
#st047 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/%D0%9A%D1%83%D1%80%D1%81%D0%BA%D0%B0%D1%8F-%D1%80%D0%B0%D0%B4%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F-05.jpg/960px-%D0%9A%D1%83%D1%80%D1%81%D0%BA%D0%B0%D1%8F-%D1%80%D0%B0%D0%B4%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F-05.jpg');
}
#st048 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2f/Revolution_Square.png/960px-Revolution_Square.png');
}
#st049 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Metro_MSK_Line3_Arbatskaya_%28img1%29.jpg/960px-Metro_MSK_Line3_Arbatskaya_%28img1%29.jpg');
}



#st050 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Metro_MSK_Line3_Smolenskaya.jpg/960px-Metro_MSK_Line3_Smolenskaya.jpg');
}
#st051 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Kievskaya_APL.jpg/960px-Kievskaya_APL.jpg');
}
#st052 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d2/Park_Pobedy_%2816414761911%29.jpg/960px-Park_Pobedy_%2816414761911%29.jpg');
}
#st053 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%A1%D0%BB%D0%B0%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%91%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%2C_%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0.jpg/960px-%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%A1%D0%BB%D0%B0%D0%B2%D1%8F%D0%BD%D1%81%D0%BA%D0%B8%D0%B9_%D0%91%D1%83%D0%BB%D1%8C%D0%B2%D0%B0%D1%80%2C_%D0%9C%D0%BE%D1%81%D0%BA%D0%B2%D0%B0.jpg');
}
#st054 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/%D0%9A%D1%83%D0%BD%D1%86%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%28%D1%81%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D0%B0%D1%8F%29.jpg/960px-%D0%9A%D1%83%D0%BD%D1%86%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%28%D1%81%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D0%B0%D1%8F%29.jpg');
}
#st055 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fb/Molodezhnaya-mm.jpg/960px-Molodezhnaya-mm.jpg');
}
#st056 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/af/Kryl_03.jpg/960px-Kryl_03.jpg');
}
#st057 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/77/%D0%A1%D1%82%D1%80%D0%BE%D0%B3%D0%B8%D0%BD%D0%BE_2.jpg/960px-%D0%A1%D1%82%D1%80%D0%BE%D0%B3%D0%B8%D0%BD%D0%BE_2.jpg');
}
#st058 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%BC%D0%B5%D1%82%D1%80%D0%BE_%22%D0%9C%D1%8F%D0%BA%D0%B8%D0%BD%D0%B8%D0%BD%D0%BE%22.jpg/960px-%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%BC%D0%B5%D1%82%D1%80%D0%BE_%22%D0%9C%D1%8F%D0%BA%D0%B8%D0%BD%D0%B8%D0%BD%D0%BE%22.jpg');
}
#st059 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Moscow_Metro_Volokolamskaya_asv2018-09.jpg/960px-Moscow_Metro_Volokolamskaya_asv2018-09.jpg');
}



#st060 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Mitino_%28%D0%9C%D0%B8%D1%82%D0%B8%D0%BD%D0%BE%29_%284322796311%29.jpg/960px-Mitino_%28%D0%9C%D0%B8%D1%82%D0%B8%D0%BD%D0%BE%29_%284322796311%29.jpg');
}
#st061 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/%D0%9A%D1%83%D0%BD%D1%86%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%28%D1%81%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D0%B0%D1%8F%29.jpg/960px-%D0%9A%D1%83%D0%BD%D1%86%D0%B5%D0%B2%D1%81%D0%BA%D0%B0%D1%8F_%28%D1%81%D0%B5%D0%B2%D0%B5%D1%80%D0%BD%D0%B0%D1%8F%29.jpg');
}
#st062 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Pionerskaya_FL_2025.jpg/960px-Pionerskaya_FL_2025.jpg');
}
#st063 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/03/Filyovsky_Park_FL_2025.jpg/960px-Filyovsky_Park_FL_2025.jpg');
}
#st064 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/%D0%9F%D1%83%D1%82%D0%B8_%D0%B2_%D1%81%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D1%83_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8_%22%D0%A4%D0%B8%D0%BB%D0%B8%22_%28%D1%81%D1%82._%D0%BC._%D0%91%D0%B0%D0%B3%D1%80%D0%B0%D1%82%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C_2020%29.jpg/960px-%D0%9F%D1%83%D1%82%D0%B8_%D0%B2_%D1%81%D1%82%D0%BE%D1%80%D0%BE%D0%BD%D1%83_%D1%81%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D0%B8_%22%D0%A4%D0%B8%D0%BB%D0%B8%22_%28%D1%81%D1%82._%D0%BC._%D0%91%D0%B0%D0%B3%D1%80%D0%B0%D1%82%D0%B8%D0%BE%D0%BD%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%2C_2020%29.jpg');
}
#st065 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Moscow_metro_Fili_2019-06-02.jpg/960px-Moscow_metro_Fili_2019-06-02.jpg');
}
#st066 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/11/Kutuzovskaya_station_renewed.jpg');
}
#st067 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/07/Moscow_metro_Studencheskaya_2020-01.jpg/960px-Moscow_metro_Studencheskaya_2020-01.jpg');
}
#st068 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Moscow_KievskayaFL_metro_station_asv2018-08.jpg/960px-Moscow_KievskayaFL_metro_station_asv2018-08.jpg');
}
#st069 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Moscow_Metro_SmolenskayaFL_asv2018-09.jpg/960px-Moscow_Metro_SmolenskayaFL_asv2018-09.jpg');
}


#st070 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/ea/Metro_MSK_Line4_Arbatskaya_%28img1%29.jpg/960px-Metro_MSK_Line4_Arbatskaya_%28img1%29.jpg');
}
#st071 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Alsad-mm.jpg/960px-Alsad-mm.jpg');
}
#st072 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Delovoy_Tsentr_FL_2025.jpg/960px-Delovoy_Tsentr_FL_2025.jpg');
}
#st073 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d0/Moskva_City_FL_2025.jpg/960px-Moskva_City_FL_2025.jpg');
}
#st074 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Metro_MSK_Line5_Park_Kultury.jpg/960px-Metro_MSK_Line5_Park_Kultury.jpg');
}
#st075 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Oktyabrskaya_KL_2025.jpg/960px-Oktyabrskaya_KL_2025.jpg');
}
#st076 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Moscow_Metro_Dobryninskaya_asv2018-09.jpg/960px-Moscow_Metro_Dobryninskaya_asv2018-09.jpg');
}
#st077 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/60/Moscow_Metro_PaveletskayaKL_asv2018-08_img2.jpg/960px-Moscow_Metro_PaveletskayaKL_asv2018-08_img2.jpg');
}
#st078 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5_%D0%BC%D0%B5%D1%82%D1%80%D0%BE._%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%A2%D0%B0%D0%B3%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%28_%D0%BA%D0%BE%D0%BB%D1%8C%D1%86%D0%B5%D0%B2%D0%B0%D1%8F%29.jpg/960px-%D0%9C%D0%BE%D1%81%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%BE%D0%B5_%D0%BC%D0%B5%D1%82%D1%80%D0%BE._%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%A2%D0%B0%D0%B3%D0%B0%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%28_%D0%BA%D0%BE%D0%BB%D1%8C%D1%86%D0%B5%D0%B2%D0%B0%D1%8F%29.jpg');
}
#st079 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Moscow_Metro_KurskayaKL_asv2018-09.jpg/960px-Moscow_Metro_KurskayaKL_asv2018-09.jpg');
}


#st080 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/f6/MosMetro_KomsomolskayaKL_img2_asv2018-01.jpg/960px-MosMetro_KomsomolskayaKL_img2_asv2018-01.jpg');
}
#st081 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/MoscowMetro_ProspektMiraKoltsevaya_HC3b.jpg/960px-MoscowMetro_ProspektMiraKoltsevaya_HC3b.jpg');
}
#st082 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Metro_MSK_Line5_Novoslobodskaya.jpg/960px-Metro_MSK_Line5_Novoslobodskaya.jpg');
}
#st083 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Belorusskaya_station_Interior.jpg/960px-Belorusskaya_station_Interior.jpg');
}
#st084 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8c/MosMetro_Krasnopresnenskaya_asv2018-01.jpg/960px-MosMetro_Krasnopresnenskaya_asv2018-01.jpg');
}
#st085 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Kievskaya_KL_2010.jpg/960px-Kievskaya_KL_2010.jpg');
}
#st086 {
    background-image: url('');
}
#st087 {
    background-image: url('');
}
#st088 {
    background-image: url('');
}
#st089 {
    background-image: url('');
}

#st090 {
    background-image: url('');
}
#st091 {
    background-image: url('');
}
#st092 {
    background-image: url('');
}
#st093 {
    background-image: url('');
}
#st094 {
    background-image: url('');
}
#st095 {
    background-image: url('');
}
#st096 {
    background-image: url('');
}
#st097 {
    background-image: url('');
}
#st098 {
    background-image: url('');
}
#st099 {
    background-image: url('');
}











#st100 {
    background-image: url('');
}
#st101 {
    background-image: url('');
}
#st102 {
    background-image: url('');
}
#st103 {
    background-image: url('');
}
#st104 {
    background-image: url('');
}
#st105 {
    background-image: url('');
}
#st106 {
    background-image: url('');
}
#st107 {
    background-image: url('');
}
#st108 {
    background-image: url('');
}
#st109 {
    background-image: url('');
}



#st110 {
    background-image: url('');
}
#st111 {
    background-image: url('');
}
#st112 {
    background-image: url('');
}
#st113 {
    background-image: url('');
}
#st114 {
    background-image: url('');
}
#st115 {
    background-image: url('');
}
#st116 {
    background-image: url('');
}
#st117 {
    background-image: url('');
}
#st118 {
    background-image: url('');
}
#st119 {
    background-image: url('');
}



#st120 {
    background-image: url('');
}
#st121 {
    background-image: url('');
}
#st122 {
    background-image: url('');
}
#st123 {
    background-image: url('');
}
#st124 {
    background-image: url('');
}
#st125 {
    background-image: url('');
}
#st126 {
    background-image: url('');
}
#st127 {
    background-image: url('');
}
#st128 {
    background-image: url('');
}
#st129 {
    background-image: url('');
}



#st130 {
    background-image: url('');
}
#st131 {
    background-image: url('');
}
#st132 {
    background-image: url('');
}
#st133 {
    background-image: url('');
}
#st134 {
    background-image: url('');
}
#st135 {
    background-image: url('');
}
#st136 {
    background-image: url('');
}
#st137 {
    background-image: url('');
}
#st138 {
    background-image: url('');
}
#st139 {
    background-image: url('');
}



#st140 {
    background-image: url('');
}
#st141 {
    background-image: url('');
}
#st142 {
    background-image: url('');
}
#st143 {
    background-image: url('');
}
#st144 {
    background-image: url('');
}
#st145 {
    background-image: url('');
}
#st146 {
    background-image: url('');
}
#st147 {
    background-image: url('');
}
#st148 {
    background-image: url('');
}
#st149 {
    background-image: url('');
}



#st150 {
    background-image: url('');
}
#st151 {
    background-image: url('');
}
#st152 {
    background-image: url('');
}
#st153 {
    background-image: url('');
}
#st154 {
    background-image: url('');
}
#st155 {
    background-image: url('');
}
#st156 {
    background-image: url('');
}
#st157 {
    background-image: url('');
}
#st158 {
    background-image: url('');
}
#st159 {
    background-image: url('');
}



#st160 {
    background-image: url('');
}
#st161 {
    background-image: url('');
}
#st162 {
    background-image: url('');
}
#st163 {
    background-image: url('');
}
#st164 {
    background-image: url('');
}
#st165 {
    background-image: url('');
}
#st166 {
    background-image: url('');
}
#st167 {
    background-image: url('');
}
#st168 {
    background-image: url('');
}
#st169 {
    background-image: url('');
}


#st170 {
    background-image: url('');
}
#st171 {
    background-image: url('');
}
#st172 {
    background-image: url('');
}
#st173 {
    background-image: url('');
}
#st174 {
    background-image: url('');
}
#st175 {
    background-image: url('');
}
#st176 {
    background-image: url('');
}
#st177 {
    background-image: url('');
}
#st178 {
    background-image: url('');
}
#st179 {
    background-image: url('');
}


#st180 {
    background-image: url('');
}
#st181 {
    background-image: url('');
}
#st182 {
    background-image: url('');
}
#st183 {
    background-image: url('');
}
#st184 {
    background-image: url('');
}
#st185 {
    background-image: url('');
}
#st186 {
    background-image: url('');
}
#st187 {
    background-image: url('');
}
#st188 {
    background-image: url('');
}
#st189 {
    background-image: url('');
}

#st190 {
    background-image: url('');
}
#st191 {
    background-image: url('');
}
#st192 {
    background-image: url('');
}
#st193 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Troparyovo_MosMetro_station_02-2015_platform.jpg/960px-Troparyovo_MosMetro_station_02-2015_platform.jpg');
}
#st194 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Moscow_Rumyantsevo_Metro_station_04-2016.jpg/960px-Moscow_Rumyantsevo_Metro_station_04-2016.jpg');
}
#st195 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Moscow_Salarievo_Metro_station_04-2016.jpg/960px-Moscow_Salarievo_Metro_station_04-2016.jpg');
}
#st196 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/8b/%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%BC%D0%B5%D1%82%D1%80%D0%BE_%D0%90%D0%BB%D0%BC%D0%B0-%D0%90%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%2C_%D1%81%D0%B2%D0%B5%D1%82_%D0%BE%D1%82_%D0%B4%D1%83%D0%B3_%28%D1%81%D1%8A%D1%91%D0%BC%D0%BA%D0%B0_%D1%81%D0%BF%D1%80%D0%B0%D0%B2%D0%B0%29.JPG/960px-%D0%A1%D1%82%D0%B0%D0%BD%D1%86%D0%B8%D1%8F_%D0%BC%D0%B5%D1%82%D1%80%D0%BE_%D0%90%D0%BB%D0%BC%D0%B0-%D0%90%D1%82%D0%B8%D0%BD%D1%81%D0%BA%D0%B0%D1%8F%2C_%D1%81%D0%B2%D0%B5%D1%82_%D0%BE%D1%82_%D0%B4%D1%83%D0%B3_%28%D1%81%D1%8A%D1%91%D0%BC%D0%BA%D0%B0_%D1%81%D0%BF%D1%80%D0%B0%D0%B2%D0%B0%29.JPG');
}
#st197 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Tekhnopark_station%2C_2015-12-28%2C_01_%28by_Brateevsky%29.JPG/960px-Tekhnopark_station%2C_2015-12-28%2C_01_%28by_Brateevsky%29.JPG');
}
#st198 {
    background-image: url('');
}
#st199 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/MM_Hovrino.jpg/960px-MM_Hovrino.jpg');
}









#st200 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Mosmetro_Pyatnitskoe_Chaussee_121229.jpg/960px-Mosmetro_Pyatnitskoe_Chaussee_121229.jpg');
}
#st201 {
    background-image: url('');
}
#st202 {
    background-image: url('');
}
#st203 {
    background-image: url('');
}
#st204 {
    background-image: url('');
}
#st205 {
    background-image: url('');
}
#st206 {
    background-image: url('');
}
#st207 {
    background-image: url('');
}
#st208 {
    background-image: url('');
}
#st209 {
    background-image: url('');
}



#st210 {
    background-image: url('');
}
#st211 {
    background-image: url('');
}
#st212 {
    background-image: url('');
}
#st213 {
    background-image: url('');
}
#st214 {
    background-image: url('');
}
#st215 {
    background-image: url('');
}
#st216 {
    background-image: url('');
}
#st217 {
    background-image: url('');
}
#st218 {
    background-image: url('');
}
#st219 {
    background-image: url('');
}



#st220 {
    background-image: url('');
}
#st221 {
    background-image: url('');
}
#st222 {
    background-image: url('');
}
#st223 {
    background-image: url('');
}
#st224 {
    background-image: url('');
}
#st225 {
    background-image: url('');
}
#st226 {
    background-image: url('');
}
#st227 {
    background-image: url('');
}
#st228 {
    background-image: url('');
}
#st229 {
    background-image: url('');
}



#st230 {
    background-image: url('');
}
#st231 {
    background-image: url('');
}
#st232 {
    background-image: url('');
}
#st233 {
    background-image: url('');
}
#st234 {
    background-image: url('');
}
#st235 {
    background-image: url('');
}
#st236 {
    background-image: url('');
}
#st237 {
    background-image: url('');
}
#st238 {
    background-image: url('');
}
#st239 {
    background-image: url('');
}



#st240 {
    background-image: url('');
}
#st241 {
    background-image: url('');
}
#st242 {
    background-image: url('');
}
#st243 {
    background-image: url('');
}
#st244 {
    background-image: url('');
}
#st245 {
    background-image: url('');
}
#st246 {
    background-image: url('');
}
#st247 {
    background-image: url('');
}
#st248 {
    background-image: url('');
}
#st249 {
    background-image: url('');
}



#st250 {
    background-image: url('');
}
#st251 {
    background-image: url('');
}
#st252 {
    background-image: url('');
}
#st253 {
    background-image: url('');
}
#st254 {
    background-image: url('');
}
#st255 {
    background-image: url('');
}
#st256 {
    background-image: url('');
}
#st257 {
    background-image: url('');
}
#st258 {
    background-image: url('');
}
#st259 {
    background-image: url('');
}



#st260 {
    background-image: url('');
}
#st261 {
    background-image: url('');
}
#st262 {
    background-image: url('');
}
#st263 {
    background-image: url('');
}
#st264 {
    background-image: url('');
}
#st265 {
    background-image: url('');
}
#st266 {
    background-image: url('');
}
#st267 {
    background-image: url('');
}
#st268 {
    background-image: url('');
}
#st269 {
    background-image: url('');
}


#st270 {
    background-image: url('');
}
#st271 {
    background-image: url('');
}
#st272 {
    background-image: url('');
}
#st273 {
    background-image: url('');
}
#st274 {
    background-image: url('');
}
#st275 {
    background-image: url('');
}
#st276 {
    background-image: url('');
}
#st277 {
    background-image: url('');
}
#st278 {
    background-image: url('');
}
#st279 {
    background-image: url('');
}


#st280 {
    background-image: url('');
}
#st281 {
    background-image: url('');
}
#st282 {
    background-image: url('');
}
#st283 {
    background-image: url('');
}
#st284 {
    background-image: url('');
}
#st285 {
    background-image: url('');
}
#st286 {
    background-image: url('');
}
#st287 {
    background-image: url('');
}
#st288 {
    background-image: url('');
}
#st289 {
    background-image: url('');
}

#st290 {
    background-image: url('');
}
#st291 {
    background-image: url('');
}
#st292 {
    background-image: url('');
}
#st293 {
    background-image: url('');
}
#st294 {
    background-image: url('');
}
#st295 {
    background-image: url('');
}
#st296 {
    background-image: url('');
}
#st297 {
    background-image: url('');
}
#st298 {
    background-image: url('');
}
#st299 {
    background-image: url('');
}

















#st300 {
    background-image: url('');
}
#st301 {
    background-image: url('');
}
#st302 {
    background-image: url('');
}
#st303 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Moscow_Belomorskaya_metro_station_asv2019-06.jpg/960px-Moscow_Belomorskaya_metro_station_asv2019-06.jpg');
}
#st304 {
    background-image: url('');
}
#st305 {
    background-image: url('');
}
#st306 {
    background-image: url('');
}
#st307 {
    background-image: url('');
}
#st308 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Moscow_Filatov_Lug_metro_station_asv2020-01.jpg/960px-Moscow_Filatov_Lug_metro_station_asv2020-01.jpg');
}
#st309 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b3/MM_Prokshino.jpg/960px-MM_Prokshino.jpg');
}



#st310 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/MM_Olkhovaya.jpg/960px-MM_Olkhovaya.jpg');
}
#st311 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/be/Kommunarka1.jpg/960px-Kommunarka1.jpg');
}
#st312 {
    background-image: url('');
}
#st313 {
    background-image: url('');
}
#st314 {
    background-image: url('');
}
#st315 {
    background-image: url('');
}
#st316 {
    background-image: url('');
}
#st317 {
    background-image: url('');
}
#st318 {
    background-image: url('');
}
#st319 {
    background-image: url('');
}



#st320 {
    background-image: url('');
}
#st321 {
    background-image: url('');
}
#st322 {
    background-image: url('');
}
#st323 {
    background-image: url('');
}
#st324 {
    background-image: url('');
}
#st325 {
    background-image: url('');
}
#st326 {
    background-image: url('');
}
#st327 {
    background-image: url('');
}
#st328 {
    background-image: url('');
}
#st329 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/5a/Moscow_Potapovo_2024-09_1725826030.tif/lossy-page1-960px-Moscow_Potapovo_2024-09_1725826030.tif.jpg');
}



#st330 {
    background-image: url('');
}
#st331 {
    background-image: url('');
}
#st332 {
    background-image: url('');
}
#st333 {
    background-image: url('');
}
#st334 {
    background-image: url('');
}
#st335 {
    background-image: url('');
}
#st336 {
    background-image: url('');
}
#st337 {
    background-image: url('');
}
#st338 {
    background-image: url('');
}
#st339 {
    background-image: url('');
}



#st340 {
    background-image: url('');
}
#st341 {
    background-image: url('');
}
#st342 {
    background-image: url('');
}
#st343 {
    background-image: url('');
}
#st344 {
    background-image: url('');
}
#st345 {
    background-image: url('');
}
#st346 {
    background-image: url('');
}
#st347 {
    background-image: url('');
}
#st348 {
    background-image: url('');
}
#st349 {
    background-image: url('');
}



#st350 {
    background-image: url('');
}
#st351 {
    background-image: url('');
}
#st352 {
    background-image: url('');
}
#st353 {
    background-image: url('');
}
#st354 {
    background-image: url('');
}
#st355 {
    background-image: url('');
}
#st356 {
    background-image: url('');
}
#st357 {
    background-image: url('');
}
#st358 {
    background-image: url('');
}
#st359 {
    background-image: url('');
}



#st360 {
    background-image: url('');
}
#st361 {
    background-image: url('');
}
#st362 {
    background-image: url('');
}
#st363 {
    background-image: url('');
}
#st364 {
    background-image: url('');
}
#st365 {
    background-image: url('');
}
#st366 {
    background-image: url('');
}
#st367 {
    background-image: url('');
}
#st368 {
    background-image: url('');
}
#st369 {
    background-image: url('');
}


#st370 {
    background-image: url('');
}
#st371 {
    background-image: url('');
}
#st372 {
    background-image: url('');
}
#st373 {
    background-image: url('');
}
#st374 {
    background-image: url('');
}
#st375 {
    background-image: url('');
}
#st376 {
    background-image: url('');
}
#st377 {
    background-image: url('');
}
#st378 {
    background-image: url('');
}
#st379 {
    background-image: url('');
}


#st380 {
    background-image: url('');
}
#st381 {
    background-image: url('');
}
#st382 {
    background-image: url('');
}
#st383 {
    background-image: url('');
}
#st384 {
    background-image: url('');
}
#st385 {
    background-image: url('');
}
#st386 {
    background-image: url('');
}
#st387 {
    background-image: url('');
}
#st388 {
    background-image: url('');
}
#st389 {
    background-image: url('');
}

#st390 {
    background-image: url('');
}
#st391 {
    background-image: url('');
}
#st392 {
    background-image: url('');
}
#st393 {
    background-image: url('');
}
#st394 {
    background-image: url('');
}
#st395 {
    background-image: url('');
}
#st396 {
    background-image: url('');
}
#st397 {
    background-image: url('');
}
#st398 {
    background-image: url('');
}
#st399 {
    background-image: url('');
}





