#st001 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Bulvar_Rokossovskogo_SL_2025.jpg/960px-Bulvar_Rokossovskogo_SL_2025.jpg');
}
#st002 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/MosMetro_Cherkizovskaya_platform_01-2016.jpg/960px-MosMetro_Cherkizovskaya_platform_01-2016.jpg');
}
#st003 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/69/Preobrazhenskaya_Ploschad_%28%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%9F%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D1%8C%29_%285244513514%29.jpg/960px-Preobrazhenskaya_Ploschad_%28%D0%9F%D1%80%D0%B5%D0%BE%D0%B1%D1%80%D0%B0%D0%B6%D0%B5%D0%BD%D1%81%D0%BA%D0%B0%D1%8F_%D0%9F%D0%BB%D0%BE%D1%89%D0%B0%D0%B4%D1%8C%29_%285244513514%29.jpg');
}
#st004 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/71/Metro_MSK_Line1_Sokolniki.jpg/960px-Metro_MSK_Line1_Sokolniki.jpg');
}
#st005 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Metro_MSK_Line1_Krasnoselskaya_%28img2%29.jpg/960px-Metro_MSK_Line1_Krasnoselskaya_%28img2%29.jpg');
}
#st006 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/21/%D0%9A%D0%BE%D0%BC%D1%81%D0%BE%D0%BC%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F-%D1%80%D0%B0%D0%B4%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_13.jpg/960px-%D0%9A%D0%BE%D0%BC%D1%81%D0%BE%D0%BC%D0%BE%D0%BB%D1%8C%D1%81%D0%BA%D0%B0%D1%8F-%D1%80%D0%B0%D0%B4%D0%B8%D0%B0%D0%BB%D1%8C%D0%BD%D0%B0%D1%8F_13.jpg');
}
#st007 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/6/66/Metro_Krasnye_Vorota.jpg/960px-Metro_Krasnye_Vorota.jpg');
}
#st008 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/17/MosMetro_Chistye_Prudy_asv2018-01.jpg/960px-MosMetro_Chistye_Prudy_asv2018-01.jpg');
}
#st009 {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/MoscowMetro_Lubyanka_5871.jpg/960px-MoscowMetro_Lubyanka_5871.jpg');
}



#st010 {
    background-image: url('');
}
#st011 {
    background-image: url('');
}
#st012 {
    background-image: url('');
}
#st013 {
    background-image: url('');
}
#st014 {
    background-image: url('');
}
#st015 {
    background-image: url('');
}
#st016 {
    background-image: url('');
}
#st017 {
    background-image: url('');
}
#st018 {
    background-image: url('');
}
#st019 {
    background-image: url('');
}



#st020 {
    background-image: url('');
}
#st021 {
    background-image: url('');
}
#st022 {
    background-image: url('');
}
#st023 {
    background-image: url('');
}
#st024 {
    background-image: url('');
}
#st025 {
    background-image: url('');
}
#st026 {
    background-image: url('');
}
#st027 {
    background-image: url('');
}
#st028 {
    background-image: url('');
}
#st029 {
    background-image: url('');
}



#st030 {
    background-image: url('');
}
#st031 {
    background-image: url('');
}
#st032 {
    background-image: url('');
}
#st033 {
    background-image: url('');
}
#st034 {
    background-image: url('');
}
#st035 {
    background-image: url('');
}
#st036 {
    background-image: url('');
}
#st037 {
    background-image: url('');
}
#st038 {
    background-image: url('');
}
#st039 {
    background-image: url('');
}



#st040 {
    background-image: url('');
}
#st041 {
    background-image: url('');
}
#st042 {
    background-image: url('');
}
#st043 {
    background-image: url('');
}
#st044 {
    background-image: url('');
}
#st045 {
    background-image: url('');
}
#st046 {
    background-image: url('');
}
#st047 {
    background-image: url('');
}
#st048 {
    background-image: url('');
}
#st049 {
    background-image: url('');
}



#st050 {
    background-image: url('');
}
#st051 {
    background-image: url('');
}
#st052 {
    background-image: url('');
}
#st053 {
    background-image: url('');
}
#st054 {
    background-image: url('');
}
#st055 {
    background-image: url('');
}
#st056 {
    background-image: url('');
}
#st057 {
    background-image: url('');
}
#st058 {
    background-image: url('');
}
#st059 {
    background-image: url('');
}



#st060 {
    background-image: url('');
}
#st061 {
    background-image: url('');
}
#st062 {
    background-image: url('');
}
#st063 {
    background-image: url('');
}
#st064 {
    background-image: url('');
}
#st065 {
    background-image: url('');
}
#st066 {
    background-image: url('');
}
#st067 {
    background-image: url('');
}
#st068 {
    background-image: url('');
}
#st069 {
    background-image: url('');
}


#st070 {
    background-image: url('');
}
#st071 {
    background-image: url('');
}
#st072 {
    background-image: url('');
}
#st073 {
    background-image: url('');
}
#st074 {
    background-image: url('');
}
#st075 {
    background-image: url('');
}
#st076 {
    background-image: url('');
}
#st077 {
    background-image: url('');
}
#st078 {
    background-image: url('');
}
#st079 {
    background-image: url('');
}


#st080 {
    background-image: url('');
}
#st081 {
    background-image: url('');
}
#st082 {
    background-image: url('');
}
#st083 {
    background-image: url('');
}
#st084 {
    background-image: url('');
}
#st085 {
    background-image: url('');
}
#st086 {
    background-image: url('');
}
#st087 {
    background-image: url('');
}
#st088 {
    background-image: url('');
}
#st089 {
    background-image: url('');
}

#st090 {
    background-image: url('');
}
#st091 {
    background-image: url('');
}
#st092 {
    background-image: url('');
}
#st093 {
    background-image: url('');
}
#st094 {
    background-image: url('');
}
#st095 {
    background-image: url('');
}
#st096 {
    background-image: url('');
}
#st097 {
    background-image: url('');
}
#st098 {
    background-image: url('');
}
#st099 {
    background-image: url('');
}











#st100 {
    background-image: url('');
}
#st101 {
    background-image: url('');
}
#st102 {
    background-image: url('');
}
#st103 {
    background-image: url('');
}
#st104 {
    background-image: url('');
}
#st105 {
    background-image: url('');
}
#st106 {
    background-image: url('');
}
#st107 {
    background-image: url('');
}
#st108 {
    background-image: url('');
}
#st109 {
    background-image: url('');
}



#st110 {
    background-image: url('');
}
#st111 {
    background-image: url('');
}
#st112 {
    background-image: url('');
}
#st113 {
    background-image: url('');
}
#st114 {
    background-image: url('');
}
#st115 {
    background-image: url('');
}
#st116 {
    background-image: url('');
}
#st117 {
    background-image: url('');
}
#st118 {
    background-image: url('');
}
#st119 {
    background-image: url('');
}



#st120 {
    background-image: url('');
}
#st121 {
    background-image: url('');
}
#st122 {
    background-image: url('');
}
#st123 {
    background-image: url('');
}
#st124 {
    background-image: url('');
}
#st125 {
    background-image: url('');
}
#st126 {
    background-image: url('');
}
#st127 {
    background-image: url('');
}
#st128 {
    background-image: url('');
}
#st129 {
    background-image: url('');
}



#st130 {
    background-image: url('');
}
#st131 {
    background-image: url('');
}
#st132 {
    background-image: url('');
}
#st133 {
    background-image: url('');
}
#st134 {
    background-image: url('');
}
#st135 {
    background-image: url('');
}
#st136 {
    background-image: url('');
}
#st137 {
    background-image: url('');
}
#st138 {
    background-image: url('');
}
#st139 {
    background-image: url('');
}



#st140 {
    background-image: url('');
}
#st141 {
    background-image: url('');
}
#st142 {
    background-image: url('');
}
#st143 {
    background-image: url('');
}
#st144 {
    background-image: url('');
}
#st145 {
    background-image: url('');
}
#st146 {
    background-image: url('');
}
#st147 {
    background-image: url('');
}
#st148 {
    background-image: url('');
}
#st149 {
    background-image: url('');
}



#st150 {
    background-image: url('');
}
#st151 {
    background-image: url('');
}
#st152 {
    background-image: url('');
}
#st153 {
    background-image: url('');
}
#st154 {
    background-image: url('');
}
#st155 {
    background-image: url('');
}
#st156 {
    background-image: url('');
}
#st157 {
    background-image: url('');
}
#st158 {
    background-image: url('');
}
#st159 {
    background-image: url('');
}



#st160 {
    background-image: url('');
}
#st161 {
    background-image: url('');
}
#st162 {
    background-image: url('');
}
#st163 {
    background-image: url('');
}
#st164 {
    background-image: url('');
}
#st165 {
    background-image: url('');
}
#st166 {
    background-image: url('');
}
#st167 {
    background-image: url('');
}
#st168 {
    background-image: url('');
}
#st169 {
    background-image: url('');
}


#st170 {
    background-image: url('');
}
#st171 {
    background-image: url('');
}
#st172 {
    background-image: url('');
}
#st173 {
    background-image: url('');
}
#st174 {
    background-image: url('');
}
#st175 {
    background-image: url('');
}
#st176 {
    background-image: url('');
}
#st177 {
    background-image: url('');
}
#st178 {
    background-image: url('');
}
#st179 {
    background-image: url('');
}


#st180 {
    background-image: url('');
}
#st181 {
    background-image: url('');
}
#st182 {
    background-image: url('');
}
#st183 {
    background-image: url('');
}
#st184 {
    background-image: url('');
}
#st185 {
    background-image: url('');
}
#st186 {
    background-image: url('');
}
#st187 {
    background-image: url('');
}
#st188 {
    background-image: url('');
}
#st189 {
    background-image: url('');
}

#st190 {
    background-image: url('');
}
#st191 {
    background-image: url('');
}
#st192 {
    background-image: url('');
}
#st193 {
    background-image: url('');
}
#st194 {
    background-image: url('');
}
#st195 {
    background-image: url('');
}
#st196 {
    background-image: url('');
}
#st197 {
    background-image: url('');
}
#st198 {
    background-image: url('');
}
#st199 {
    background-image: url('');
}









#st200 {
    background-image: url('');
}
#st201 {
    background-image: url('');
}
#st202 {
    background-image: url('');
}
#st203 {
    background-image: url('');
}
#st204 {
    background-image: url('');
}
#st205 {
    background-image: url('');
}
#st206 {
    background-image: url('');
}
#st207 {
    background-image: url('');
}
#st208 {
    background-image: url('');
}
#st209 {
    background-image: url('');
}



#st210 {
    background-image: url('');
}
#st211 {
    background-image: url('');
}
#st212 {
    background-image: url('');
}
#st213 {
    background-image: url('');
}
#st214 {
    background-image: url('');
}
#st215 {
    background-image: url('');
}
#st216 {
    background-image: url('');
}
#st217 {
    background-image: url('');
}
#st218 {
    background-image: url('');
}
#st219 {
    background-image: url('');
}



#st220 {
    background-image: url('');
}
#st221 {
    background-image: url('');
}
#st222 {
    background-image: url('');
}
#st223 {
    background-image: url('');
}
#st224 {
    background-image: url('');
}
#st225 {
    background-image: url('');
}
#st226 {
    background-image: url('');
}
#st227 {
    background-image: url('');
}
#st228 {
    background-image: url('');
}
#st229 {
    background-image: url('');
}



#st230 {
    background-image: url('');
}
#st231 {
    background-image: url('');
}
#st232 {
    background-image: url('');
}
#st233 {
    background-image: url('');
}
#st234 {
    background-image: url('');
}
#st235 {
    background-image: url('');
}
#st236 {
    background-image: url('');
}
#st237 {
    background-image: url('');
}
#st238 {
    background-image: url('');
}
#st239 {
    background-image: url('');
}



#st240 {
    background-image: url('');
}
#st241 {
    background-image: url('');
}
#st242 {
    background-image: url('');
}
#st243 {
    background-image: url('');
}
#st244 {
    background-image: url('');
}
#st245 {
    background-image: url('');
}
#st246 {
    background-image: url('');
}
#st247 {
    background-image: url('');
}
#st248 {
    background-image: url('');
}
#st249 {
    background-image: url('');
}



#st250 {
    background-image: url('');
}
#st251 {
    background-image: url('');
}
#st252 {
    background-image: url('');
}
#st253 {
    background-image: url('');
}
#st254 {
    background-image: url('');
}
#st255 {
    background-image: url('');
}
#st256 {
    background-image: url('');
}
#st257 {
    background-image: url('');
}
#st258 {
    background-image: url('');
}
#st259 {
    background-image: url('');
}



#st260 {
    background-image: url('');
}
#st261 {
    background-image: url('');
}
#st262 {
    background-image: url('');
}
#st263 {
    background-image: url('');
}
#st264 {
    background-image: url('');
}
#st265 {
    background-image: url('');
}
#st266 {
    background-image: url('');
}
#st267 {
    background-image: url('');
}
#st268 {
    background-image: url('');
}
#st269 {
    background-image: url('');
}


#st270 {
    background-image: url('');
}
#st271 {
    background-image: url('');
}
#st272 {
    background-image: url('');
}
#st273 {
    background-image: url('');
}
#st274 {
    background-image: url('');
}
#st275 {
    background-image: url('');
}
#st276 {
    background-image: url('');
}
#st277 {
    background-image: url('');
}
#st278 {
    background-image: url('');
}
#st279 {
    background-image: url('');
}


#st280 {
    background-image: url('');
}
#st281 {
    background-image: url('');
}
#st282 {
    background-image: url('');
}
#st283 {
    background-image: url('');
}
#st284 {
    background-image: url('');
}
#st285 {
    background-image: url('');
}
#st286 {
    background-image: url('');
}
#st287 {
    background-image: url('');
}
#st288 {
    background-image: url('');
}
#st289 {
    background-image: url('');
}

#st290 {
    background-image: url('');
}
#st291 {
    background-image: url('');
}
#st292 {
    background-image: url('');
}
#st293 {
    background-image: url('');
}
#st294 {
    background-image: url('');
}
#st295 {
    background-image: url('');
}
#st296 {
    background-image: url('');
}
#st297 {
    background-image: url('');
}
#st298 {
    background-image: url('');
}
#st299 {
    background-image: url('');
}

















#st300 {
    background-image: url('');
}
#st301 {
    background-image: url('');
}
#st302 {
    background-image: url('');
}
#st303 {
    background-image: url('');
}
#st304 {
    background-image: url('');
}
#st305 {
    background-image: url('');
}
#st306 {
    background-image: url('');
}
#st307 {
    background-image: url('');
}
#st308 {
    background-image: url('');
}
#st309 {
    background-image: url('');
}



#st310 {
    background-image: url('');
}
#st311 {
    background-image: url('');
}
#st312 {
    background-image: url('');
}
#st313 {
    background-image: url('');
}
#st314 {
    background-image: url('');
}
#st315 {
    background-image: url('');
}
#st316 {
    background-image: url('');
}
#st317 {
    background-image: url('');
}
#st318 {
    background-image: url('');
}
#st319 {
    background-image: url('');
}



#st320 {
    background-image: url('');
}
#st321 {
    background-image: url('');
}
#st322 {
    background-image: url('');
}
#st323 {
    background-image: url('');
}
#st324 {
    background-image: url('');
}
#st325 {
    background-image: url('');
}
#st326 {
    background-image: url('');
}
#st327 {
    background-image: url('');
}
#st328 {
    background-image: url('');
}
#st329 {
    background-image: url('');
}



#st330 {
    background-image: url('');
}
#st331 {
    background-image: url('');
}
#st332 {
    background-image: url('');
}
#st333 {
    background-image: url('');
}
#st334 {
    background-image: url('');
}
#st335 {
    background-image: url('');
}
#st336 {
    background-image: url('');
}
#st337 {
    background-image: url('');
}
#st338 {
    background-image: url('');
}
#st339 {
    background-image: url('');
}



#st340 {
    background-image: url('');
}
#st341 {
    background-image: url('');
}
#st342 {
    background-image: url('');
}
#st343 {
    background-image: url('');
}
#st344 {
    background-image: url('');
}
#st345 {
    background-image: url('');
}
#st346 {
    background-image: url('');
}
#st347 {
    background-image: url('');
}
#st348 {
    background-image: url('');
}
#st349 {
    background-image: url('');
}



#st350 {
    background-image: url('');
}
#st351 {
    background-image: url('');
}
#st352 {
    background-image: url('');
}
#st353 {
    background-image: url('');
}
#st354 {
    background-image: url('');
}
#st355 {
    background-image: url('');
}
#st356 {
    background-image: url('');
}
#st357 {
    background-image: url('');
}
#st358 {
    background-image: url('');
}
#st359 {
    background-image: url('');
}



#st360 {
    background-image: url('');
}
#st361 {
    background-image: url('');
}
#st362 {
    background-image: url('');
}
#st363 {
    background-image: url('');
}
#st364 {
    background-image: url('');
}
#st365 {
    background-image: url('');
}
#st366 {
    background-image: url('');
}
#st367 {
    background-image: url('');
}
#st368 {
    background-image: url('');
}
#st369 {
    background-image: url('');
}


#st370 {
    background-image: url('');
}
#st371 {
    background-image: url('');
}
#st372 {
    background-image: url('');
}
#st373 {
    background-image: url('');
}
#st374 {
    background-image: url('');
}
#st375 {
    background-image: url('');
}
#st376 {
    background-image: url('');
}
#st377 {
    background-image: url('');
}
#st378 {
    background-image: url('');
}
#st379 {
    background-image: url('');
}


#st380 {
    background-image: url('');
}
#st381 {
    background-image: url('');
}
#st382 {
    background-image: url('');
}
#st383 {
    background-image: url('');
}
#st384 {
    background-image: url('');
}
#st385 {
    background-image: url('');
}
#st386 {
    background-image: url('');
}
#st387 {
    background-image: url('');
}
#st388 {
    background-image: url('');
}
#st389 {
    background-image: url('');
}

#st390 {
    background-image: url('');
}
#st391 {
    background-image: url('');
}
#st392 {
    background-image: url('');
}
#st393 {
    background-image: url('');
}
#st394 {
    background-image: url('');
}
#st395 {
    background-image: url('');
}
#st396 {
    background-image: url('');
}
#st397 {
    background-image: url('');
}
#st398 {
    background-image: url('');
}
#st399 {
    background-image: url('');
}





